
    /* 全局设置 */
 html,body,.main,.left_navbar,a,p{
        height: 100%;
        padding: 0;
        margin: 0;
    }
    body{
        overflow: hidden;
    }
    .left_navbar{
        width: 10%;
        background-color: #F86D5A;
        color: white;
        font-size: 1.7em;
        float: left;
    }
    /* 顶部高度对齐 */
    .top_logo, .nav_right{
        height: 10%;
        padding-left:0;
    }
    .top_logo{
        text-align: center;
    }
    .nav_right nav, .nav_right ul li{
        height: 100%;
    }

    .nav .nav_title{
        height: 60px;
        text-indent:10%;
        line-height: 50px;
        color: grey;
        font-size: 100%;
    }
    .admin .nav_item{
        height: 70px;
        text-indent: 25%;
    }
    .admin .nav_item a{
        color: white;
        line-height: 55px;
    }

    .QR_code{
        text-align: center;
       position: relative;
    }
    .QR_code .qr_item{
        bottom: -30px;
    }
    /* 右部导航设置 */
    .nav_right{
        width: 90%;
        float:right;
        margin: 0;
        padding: 0;
    }
    .nav_right nav{
        background-color: #FDE1CB;
    }
    .nav_right ul{
        height: 100%;
    }
    .nav_right .nav_item{
        height: 100%;
        margin:0px 10px;
        padding: 15px 5px;
    }
    .nav_right .nav_item a{
        line-height: 60px;
        font-size: 1.7em;
    }
    /* 去除原有的特效 */
    .admin ul>li{
        background-color: #F86D5A;
    }
    .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color:#F75842;
    }
    .container{
        width: 95%;
        height: 1000px;
        /* align-self: center; */
    }
    
    .left_active{
        border-left: 10px solid red;
        background-color: #F75842; 
    }
    iframe{
        padding: 50px;
    }