h1 {
    padding-left: 50px;
    border-left: 16px solid #F86D5A;
}

.back {
    background-color: white;
    margin-left: 30px;
}

.brand_name {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.brand_hot {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
}

.brand_hot span {
    margin-left: 8px;
}

.div span {
    color: black;
    font-size: 20px;
}

.div {
    transition: all 0.2s ease 0s;
}

/* transition 别放hover里，放到img里，这样移入移出一样缓慢，不然只对hover移上去有缓慢效果 */
.div:hover {
    transform: scale(1.1);
    /*transition: all 2s ease-in-out 0s;*/
}

a:-webkit-any-link {
    text-decoration: none;
}

button {
    transition: all 0.2s ease 0s;
    background-color: #ff5d23;

    border: none;

    color: white;

    padding: 15px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}