h1 {
    padding-left: 50px;
    border-left: 16px solid #F86D5A;
}

.back {
    background-color: white;
    margin-left: 30px;
}

.brand_name {
    text-align: center;
    font-size: 20px;
}

.brand_hot {
    text-align: center;
    margin-top: 20px;
    margin-left: -12px;
    margin-bottom: 30px;
}

.brand_hot span {
    margin-left: 8px;
}

.div span {
    color: black;
}

.div {
    transition: all 0.2s ease 0s;
}

/* transition 别放hover里，放到img里，这样移入移出一样缓慢，不然只对hover移上去有缓慢效果 */
.div:hover {
    transform: scale(1.1);
    /*box-shadow: 5px 5px 5px 5px #888888;*/
    /*transition: all 2s ease-in-out 0s;*/
}
a:-webkit-any-link{
    text-decoration: none;
}