a,div,p{
    padding: 0;
    margin: 0;
}
body{
 background-color: #F9F9F9;
}
.top .navbar-default{
    background-color: #FFFFFF;
}
.top-item{
    height: 80px;

}
.logo{
    padding-left: 80px;
    padding-top:10px;
}
.top-item .font{
    padding-top: 10px;
}
.title{
    font-size: 35px;
}
.font{
    font-size: 15px;
}
/* 导航区域 */

.navbar-nav{
    font-size: 20px;
}
.nav-item a{
    height: 60px;
    padding: 0;
    margin: 0 20px;
}

/* 更改初始设置 */
.navbar-nav li>a{
    line-height: 60px;
    padding:0 10px;
    margin: 10px;
}
.navbar-default .navbar-nav > .actived > a, .navbar-default .navbar-nav > .actived > a:hover, .navbar-default .navbar-nav > .actived > a:focus {
    color:salmon;
    border-bottom: 5px solid salmon; 
}
.actived a{
    color: salmon;
    border-bottom: 5px solid salmon; 
}
/* 更改初始设置 */
/* .container{
    width: 70%;
} */
.search{
    line-height: 60px;
    padding-top:15px;
}
.navbar-form,.navbar-form .form-control {
    width: 350px;
}
.form-group,.form-group input{
    width: 100%;
    place-content: center;
}
.form-control{
    border-radius: 34px;
}
.top-right{
    line-height: 60px; 
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}
.top-right .font{
    font-size: 15px;
    padding: 5px;
}
.mar {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 25px;
    color: #969494f5;
}
/* 用户信息样式 */
.userinfo{
    padding-left: 20px;
}
.userinfo .img{
    float: left;
    padding-right: 10px;
}
.userinfo .info{
    float: right;
    padding-left:10px; 
    line-height: 30px  
}
.loginMsg{
    padding-top: 25px;
    color: red;
    font-weight: bolder;
    text-indent: 5px;
}
.userinfo .leve{
    font-size: 20px;
}
.userinfo .name{
    font-size: 20px;
}
.login-rigster{
    margin-top: 20px;
}
.top-item{
    margin-bottom:0px; 
}

/* 轮播图样式 */
.slider-item{
    padding: 40px;
    height: 400px;
    background-image: url(../img/bg/bg-slider.jpg)
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 283px;
    overflow: hidden;
}
.carousel-inner img{
    width:1140px;
}
.carousel-control {
    position: absolute;
    top: 90px;
    bottom: 0;
    width: 25px;
    height: 100px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0);
}
.carousel .left{
    left: -40px;
}
.carousel .right{
    right: -40px;
}
/* 主要内容样式 */
.player{
    margin-top:20px; 

}
.player .navbar{
    border: none;
    height: 80px;
}
.navbar-default{
 background-color: #F9F9F9
}
/* 陪玩信息 */
/* 二级菜单 */
.player .player-top .label {
    display: inline;
    padding: .3em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #363636;;
    background-color:#F9F9F9; 
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: #363636 1px solid;
    border-radius: 1em;
}
.select-game{
    color: salmon;
    border: salmon 1px solid;
}
.gamelist{
    margin-top: 20px;
}
.player .reflash{
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: -0px;
    padding-top: 3px;
}
.player-top{
    margin: 0;
}
/* 玩家信息样式 */
.thumbnail{
    background-color: #F9F9F9;
}
.player-info .thumbnail {
    transition: all 0.2s ease 0s;
}

/* transition 别放hover里，放到img里，这样移入移出一样缓慢，不然只对hover移上去有缓慢效果 */
.player-info .thumbnail:hover {
    transform: scale(1.1);
    /*transition: all 2s ease-in-out 0s;*/
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
    width: 272px;

}

.player-info .thumbnail .media-body{
    padding:20px 10px;
}
.player-info .thumbnail .media-body .dec{
    padding-top:5px; 
}
.player-info .thumbnail .media-body .game{
    margin-top:5px; 
    font-size: 15px;
    color: #969494f5;
    float: left;
}
.player-info .thumbnail .media-body .price{
    float: right;
    margin: 0;
    font-size: 20px;
    color: salmon;
}
.player-info .thumbnail .media-body h3{
    font-size: 20px;
}
/* 新秀陪玩 */
.newPlayer{
    background-color: #F9F9F9;
}
.newPlayer h3,.rank h3{
    border-left: 5px salmon solid;
    color: #969494;
    width: 1080px;
    text-indent: 10px;
    margin-left:10px; 
}
.newPlayer .nav > li > a:hover,.newPlayer .nav > li > a:focus {
    text-decoration: none;
    background-color: #F9F9F9;
}
.newPlayer .nav {
    margin-bottom: 40px; 
}
.newPlayer .play-info{
    position: relative;
    text-align: center;
    padding: 10px;
}

.newPlayer .player-icon{
    width: 100px;
    border-radius:100%;
}
.newPlayer .player-icon:hover{
    background: none;
}
.newPlayer .label{
    width: 50px;
    margin:0 5px;
}
.label-pink{
    background-color: #E7778D;
}
.newPlayer .userName{
    font-size: 15px;
    color: #363636;
    line-height: 30px;
    text-align: center;
    height: 40px;
    margin:0 5px;
}
.newPlayer .info .age{
    float: right;
    font-weight: bold;
}
.newPlayer .info .address{
    background-color: gray;
    float: left;
}

/* 开黑信息 样式 */
.together .nav li a{
    margin-bottom: 25px;
}
.together .thumbnail {
    transition: all 0.3s ease 0s;
}

/* transition 别放hover里，放到img里，这样移入移出一样缓慢，不然只对hover移上去有缓慢效果 */
.together .thumbnail:hover {
    transform: scale(1.1);
    /*transition: all 2s ease-in-out 0s;*/
}
.together .thumbnail .media-body{
    padding: 20px 10px 5px;
}
.together .thumbnail .media-body .admin{
    margin-top:5px; 
    font-size: 15px;
    color: #969494f5;
    float: left;
}
.together .thumbnail .media-body  img{
    width: 30px;
    margin-right:5px; 
    border-radius: 30px;
}
.together .thumbnail .media-body .number{
    float: right;
    margin-top:10px; 
    font-size: 15px;
    color: #969494f5;
    
}
.together{
    margin-bottom: 50px;
}
/* 排行榜样式 */
.rank{
    height: 300px;
}
.rank .title{
    list-style: none;
    display: block;
    width: 100%;
}
.rank-item{
    background-color: #FFFFFF
    /* background-color: #E7778D */
}
.rank-list{
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    color: salmon;
    margin-bottom: 20px;
}
.rank-item .best{
    height: 150px;
    margin-bottom:20px; 
}
.rank-item .best img{
    width: 150px;
    border-radius:10px; 
}
.best .first{
    position: relative;
    float: left;
    left: 20px;
}
.best .second{
    position: relative;
    right: 25px;
    float: right;
}
.rank .rank-items{
    padding-left:20px; 
    height: 110px;
    margin: 0;
    padding: 10px 0px; 
    border-bottom: dashed 1px salmon;
}
.rank .rank-items>img{
    width: 90px;
    margin-left: 25px;
    border-radius:10px; 
}
.rank .rank-items span{
    display:  inline-block;
   
}
.rank .rank-items .info{
    position: absolute;
    padding-left: 10px; 
    height: 100px;
    font-size: 15px;
}
.rank .name{
    position: relative; 
    top: 10px;
    color: #969494
}
.rank .level{
    position: relative; 
    top: 40px;
}
.rank .rank-items .number{
    position: absolute;
    right: 25px;
    font-size: 15px;
}
.rank .rank-items .number .age{
    position: relative; 
    top: 10px;
    float: right;
}
.rank .rank-items .number .count{
    position: relative; 
    top: 40px;
    color: #969494;
}
/* 尾部信息 */
.foot{
    margin-top: 50px;
}
.help_box,.foot{
    background-color: #535353;
    text-align: center;
    padding: 20px;
}
.foot .help_box .pic{
    padding: 30px;
    text-align: center;
}
.foot .help_box .font{
    margin-left: 21%;
    padding-bottom: 20px;
}
.foot .help_box .fl{
    float: left;
    font-size: 18px;
    color: #969494;
}
.font .ml40{
    padding-left: 30px;
}
.font  .ml40 a{
    border: #969494 1px solid;
    width: 100px;
    background-color: #363636;
    margin:0 20px;
}
.foot-info{
    margin-top: 20px;
    color: #969494;
}
/* 模态框注册登录位置 */
.form-group .code{
    position: relative;
    top: -30px;
    right: -190px;
    width: 180px;
}
.form-group .code a{
    line-height: 10px;
    padding-left: 10px;
}