table {
    font-size: 20px;
    margin-top: -18px;
}

h1 {
    padding-left: 50px;
    border-left: 16px solid #F86D5A;
}

h2 {
    text-align: center;
}

.back {
    background-color: white;
    margin-left: 30px;
}

td {
    height: 60px;
}

.mycheck {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

.mycheck a {
    text-decoration: none;
}

.mycheck input[type=checkbox] {
    visibility: hidden;
}

.mycheck label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fff;
    border: 2px solid #ccc;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.mycheck label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 4px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mycheck input[type=checkbox]:checked + label {
    background: #f40;
    border: 2px solid #f40;
}

.mycheck input[type=checkbox]:checked + label:after {
    opacity: 1;
    background: #f40;
}

label {
    margin-top: 14px;
    margin-left: 10px;
}

/*.mycheck button {*/
/*    margin-left: 20px;*/
/*    height: 40px;*/
/*    width: 80px;*/
/*}*/

.second {
    margin-left: 100px;
}

.last {
    margin-left: 30px;
}

.reader {
    background-color: #ed5565;
    padding: 0 5px;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;

}

button {
    transition: all 0.2s ease 0s;
    background-color: #ff5d23;

    border: none;

    color: white;

    padding: 8px 24px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 18px;

    margin: 4px 16px;

    cursor: pointer;

}

button:hover {
    transform: scale(1.1);
}

.button {
    transition: all 0.2s ease 0s;
    background-color: #ff5d23;

    border: none;

    color: white;

    padding: 8px 24px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 18px;

    margin: 4px 0px;

    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

button > span {
    margin: 6px;
}

.hideid {
    display: none;
}

.pbody {
    margin-top: 50px;
}

.content {
    margin: 30px auto;
    width: 70%;
    text-indent: 2em;
    font-size: 20px;
}
.time{
    margin-top: 30px;
    color: #acacac;
    text-align: center;
}
